/*
    You can add your own custom styles here.
*/

 .article-category a {
    background: #445d4c !important;
    color: #fff;
}

.article-list {
    gap: 25px;
}

.article-details .article-content img {
    max-width: 100%;
    height: auto;
}


// @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@600&display=swap');
// :root {
//     // --zh-font-family: "Noto Serif SC", var(--sys-font-family), var(--zh-font-family), sans-serif;
//     --base-font-family: "Noto Serif SC", var(--sys-font-family), var(--zh-font-family), sans-serif;
// }