/*
    You can add your own custom styles here.
*/

 .article-category a {
    background: #445d4c !important;
    color: #fff;
}

.article-list {
    gap: 25px;
}

.memo .article-content {
    padding: 0;
}

.article-details .article-content {
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@600&display=swap');
:root {
    // --zh-font-family: "Noto Serif SC", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --base-font-family: "Noto Serif SC", var(--sys-font-family), var(--zh-font-family), sans-serif;
}